<!doctype html>
<html>
<head>
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <body class="single is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <h1><a href="index.html">Debate</a></h1>
            <nav class="links">
              <ul>
                <li><a href="index.ejs">Home</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="create.ejs" type="submit" >Create</a></li>
                <li><a href="/profile">Profile</a></li>
                <!-- <li><a href="#">Tempus</a></li>
                <li><a href="#">Adipiscing</a></li> -->
              </ul>
            </nav>
            <nav class="main">
              <ul>
                <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                  </form>
                </li>
                <li class="menu">
                  <a class="fa-bars" href="#menu">Menu</a>
                </li>
              </ul>
            </nav>
          </header>

        <!-- Menu -->
          <section id="menu">

            <!-- Search -->
              <section>
                <form class="search" method="get" action="#">
                  <input type="text" name="query" placeholder="Search" />
                </form>
              </section>

            <!-- Links -->
              <section>
                <ul class="links">
                  <li>
                    <a href="/">
                      <h3>Home</h3>
                      <p>Feugiat tempus veroeros dolor</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <h3>Explore</h3>
                      <p>Sed vitae justo condimentum</p>
                    </a>
                  </li>
                  <li>
                    <a href="/create">
                      <h3>Create</h3>
                      <p>Phasellus sed ultricies mi congue</p>
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      <h3>SIGNUP</h3>
                      <p>Porta lectus amet ultricies</p>
                    </a>
                  </li>
                </ul>
              </section>

            <!-- Actions -->
              <section>
                <ul class="actions stacked">
                  <li><a href="#" class="button large fit">Log In</a></li>
                </ul>
              </section>

          </section>

        <!-- Main -->
          <div id="main">

            <!-- Post -->
              <article class="post">
                <header>
                  <div class="title">
                    <h2><a href="#">comments</a></h2>
                    <p>Create A New Discussion</p>
                  </div>

                </header>
                <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
                <div class="container">

                    <div class="page-header text-center">
                        <h1><span class="fa fa-anchor"></span> Create Page</h1>
                        <a href="/profile" class="btn btn-default btn-sm">Back to Profile</a>
                        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    </div>

                    <div class="row">


                      <div class="col-sm-6">
                        <h3>Add a Comment</h3>
                        <ul class="comments">
                        <% for(var i=0; i<comments.length; i++) {%>
                          <li class="comments">
                            <span><%= comments[i].msg %></span>
                            <span><%= comments[i].side %></span>
                            <span class="hide"><%= comments[i].thumbUp %></span>
                            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                          </li>
                        <% } %>
                        </ul>

                      <% if (user.local.email) { %>
                        <form action="/comments" method="POST">
                          <input class="form-control" type="text" placeholder="Add Your Comment"value="" name="msg">
                          <select  name="side">
                            <option  value="Pro">Pro</option>
                            <option value="Con">Con</option>
                          </select>
                          <input type="hidden" name="msgId" value="<%= msgId %>">
                          <button type="submit">Submit</button>
                        </form>
                      </div>
                      <% } %>


                </div>


              </article>

          </div>

        <!-- Footer -->
          <section id="footer">
            <ul class="icons">
              <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
              <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
          </section>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
</body>
</html>
