<!doctype html>
<html>
<head>
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<body>
  <body class="single is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <h1><a href="index.html">Debate</a></h1>
            <nav class="links">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/create" type="submit" >Create</a></li>
                <!-- <li><a href="/profile">Profile</a></li> -->
                <!-- <li><a href="#">Tempus</a></li>
                <li><a href="#">Adipiscing</a></li> -->
              </ul>
            </nav>
            <nav class="main">
              <ul>
                <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                  </form>
                </li>
                <li class="menu">
                  <a class="fa-bars" href="#menu">Menu</a>
                </li>
              </ul>
            </nav>
          </header>

        <!-- Menu -->
          <section id="menu">

            <!-- Search -->
              <section>
                <form class="search" method="get" action="#">
                  <input type="text" name="query" placeholder="Search" />
                </form>
              </section>

            <!-- Links -->
              <section>
                <ul class="links">
                  <li>
                    <a href="/">
                      <h3>Home</h3>
                      <p>Feugiat tempus veroeros dolor</p>
                    </a>
                  </li>
                  <li>
                    <a href="/explore">
                      <h3>Explore</h3>
                      <p>Sed vitae justo condimentum</p>
                    </a>
                  </li>
                  <li>
                    <a href="/create">
                      <h3>Create</h3>
                      <p>Phasellus sed ultricies mi congue</p>
                    </a>
                  </li>
                  <li>
                    <a href="/profile">
                      <h3>Profile</h3>
                      <p>Porta lectus amet ultricies</p>
                    </a>
                  </li>
                  <li>
                    <a href="/signup">
                      <h3>Sign Up</h3>
                      <p>Porta lectus amet ultricies</p>
                    </a>
                  </li>
                </ul>
              </section>

            <!-- Actions -->
              <section>
                <ul class="actions stacked">
                  <li><a href="#" class="button large fit">Log In</a></li>
                </ul>
              </section>

          </section>

        <!-- Main -->
          <div id="main">

            <!-- Post -->
              <article class="post">
                <header>
                  <div class="title">
                    <h2><a href="/create">Create A New Discussion</a></h2>
                  </div>

                </header>
                <div class="container" id="createContainer">

                    <div class="page-header text-center" id="createHeader">
                      <h3>Create Debate Statment</h3>
                      <h2>Enter discussion details</h2>
                      <a href="/profile" class="btn btn-default btn-sm">Back to Profile</a>
                      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    </div>

                    <div class="row">


                        <div class="col-sm-6" id="createBox">


                          <form action="/create" method="POST" enctype='multipart/form-data'>
                            <div class="col-12">
                              <label for="inputAddress" class="form-label">Discussion Title</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="Provide a brief title describing your discussion topic">
                            </div>
                            <div class="mb-3">
                              <label for="formGroupExampleInput" class="form-label">Discussion Title</label>
                              <input type="text" class="form-control" placeholder="Provide a brief title describing your discussion topic." id="formGroupExampleInput"  name="dicuss">
                            </div>
                            <label for="inputState" class="form-label">Discussion Tag: Add tags related to the discussion.</label>
                            <select id="inputState" placeholder="Add tags related to the discussion"name="tag" class="form-select tag">
                              <option placeholder="Add tags related to the discussion" selected>Choose...</option>
                              <option value="History">History</option>
                              <option value="Geography">Geography</option>
                              <option value="Film">Film</option>
                              <option value="Music">Music</option>
                              <option value="Sports">Sports</option>
                              <option value="Science">Science</option>
                              <option value="Politics">Politics</option>
                              <option value="Ethics">Ethics</option>
                              <option value="Global">Global</option>
                            </select>
                            <div class="mb-3">
                              <label for="exampleFormControlTextarea1" class="form-label">Background(Optional)</label>
                              <textarea class="form-control" type="text" placeholder="Add information revelant to your discussion. Add information about the parameters of this discussion here." name="background" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="formFile" class="form-label">Add Image</label>
                              <input class="form-control" name="file" type="file" id="formFile">
                            </div>
                            <input type="submit" value="Upload">
                          </form>
                        </div>

                </div>

                <!-- <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                <p>Nunc quis dui scelerisque, scelerisque urna ut, dapibus orci. Sed vitae condimentum lectus, ut imperdiet quam. Maecenas in justo ut nulla aliquam sodales vel at ligula. Sed blandit diam odio, sed fringilla lectus molestie sit amet. Praesent eu tortor viverra lorem mattis pulvinar feugiat in turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper tellus sit amet mattis dignissim. Phasellus ut metus ligula. Curabitur nec leo turpis. Ut gravida purus quis erat pretium, sed pellentesque massa elementum. Fusce vestibulum porta augue, at mattis justo. Integer sed sapien fringilla, dapibus risus id, faucibus ante. Pellentesque mattis nunc sit amet tortor pellentesque, non placerat neque viverra. </p> -->
                <footer>

                </footer>
              </article>

          </div>

        <!-- Footer -->
          <section id="footer">
            <ul class="icons">
              <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
              <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
          </section>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
</body>
</html>
