<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Explore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
  </head>
  <body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">GroupThought</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/explore">Explore</a></li>
								<li><a href="/create">Create</a></li>
                <!-- <li><a href="/profile">Profile</a></li> -->
							</ul>
						</nav>
						<nav class="main">
							<ul>

								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->


						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="/">
											<h3>Home</h3>
										</a>
									</li>
									<li>
										<a href="/explore">
											<h3>Explore</h3>
										</a>
									</li>
									<li>
										<a href="/create">
											<h3>Create</h3>
										</a>
									</li>
                  <li>
										<a href="/profile">
											<h3>Profile</h3>
										</a>
									</li>
									<li>
										<a href="/signup">
											<h3>Sign Up</h3>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="/login" class="button large fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article id="profileCon" class="post">
								<header>
									<div id="headers" class="title">
										<h2><a href="/explore">Explore Debates</a></h2>
										<p id="headerP">Find Discussions</p>
									</div>
								</header>
                <div class="container" id="cardCon">
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">History</h5>
                          <a href="/topic/History" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Geography</h5>
                          <a href="/topic/Geography" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Film</h5>
                          <a href="/topic/Film" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Global</h5>
                          <a href="/topic/Global" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>

                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Technology</h5>
                          <a href="/topic/Technology" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Economy</h5>
                          <a href="/topic/Economy" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Health</h5>
                          <a href="/topic/Health" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Fashion</h5>
                          <a href="/topic/Fashion" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Philosophy</h5>
                          <a href="/topic/Philosophy" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Education</h5>
                          <a href="/topic/Education" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Environment</h5>
                          <a href="/topic/Environment" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Entertainment</h5>
                          <a href="/topic/Entertainment" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Culture</h5>
                          <a href="/topic/Culture" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Human Rights</h5>
                          <a href="/topic/Human Rights" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Pandemics</h5>
                          <a href="/topic/Pandemics" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Media/News</h5>
                          <a href="/topic/MediaNews" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Travel</h5>
                          <a href="/topic/Travel" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Art</h5>
                          <a href="/topic/Art" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Science</h5>
                          <a href="/topic/Science" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">UFO</h5>
                          <a href="/topic/UFO" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Fanasty</h5>
                          <a href="/topic/Fanasty" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Literature</h5>
                          <a href="/topic/Literature" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Internet</h5>
                          <a href="/topic/Internet" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Animals</h5>
                          <a href="/topic/Animals" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Morality</h5>
                          <a href="/topic/Morality" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Policy</h5>
                          <a href="/topic/Policy" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Future</h5>
                          <a href="/topic/Future" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Psychology</h5>
                          <a href="/topic/Psychology" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Money</h5>
                          <a href="/topic/Money" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Business</h5>
                          <a href="/topic/Business" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Love</h5>
                          <a href="/topic/Love" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Free Will</h5>
                          <a href="/topic/FreeWill" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Capitalism</h5>
                          <a href="/topic/Capitalism" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Privacy</h5>
                          <a href="/topic/Privacy" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Games</h5>
                          <a href="/topic/Games" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Freedom</h5>
                          <a href="/topic/Freedom" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">SoicalMedia</h5>
                          <a href="/topic/SoicalMedia" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Space</h5>
                          <a href="/topic/Space" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Fandom</h5>
                          <a href="/topic/Fandom" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Journalism</h5>
                          <a href="/topic/Journalism" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Identity</h5>
                          <a href="/topic/Identity" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Mental Health</h5>
                          <a href="/topic/MentalHealth" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Lifestyle</h5>
                          <a href="/topic/Lifestyle" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div class="col innerCard">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Belief</h5>
                          <a href="/topic/Belief" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                </div>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer">

					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
