<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Explore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
  </head>
  <body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Debate</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/explore">Explore</a></li>
								<li><a href="/create">Create</a></li>
                <!-- <li><a href="/profile">Profile</a></li> -->
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="/">
											<h3>Home</h3>
											<p>Feugiat tempus veroeros dolor</p>
										</a>
									</li>
									<li>
										<a href="/explore">
											<h3>Explore</h3>
											<p>Sed vitae justo condimentum</p>
										</a>
									</li>
									<li>
										<a href="/create">
											<h3>Create</h3>
											<p>Phasellus sed ultricies mi congue</p>
										</a>
									</li>
                  <li>
										<a href="/profile">
											<h3>Profile</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
									<li>
										<a href="/signup">
											<h3>Sign Up</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="/login" class="button large fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div id="headers" class="title">
										<h2><a href="/explore">Explore Debates</a></h2>
										<p id="headerP">Find Discussions</p>
									</div>
								</header>
                <div class="container">
                  <div id="rows" class="row">
                    <div id="tags" class="col-sm-6">
                      <div class="card">
                        <div id="cards" class="card-body">
                          <h5 class="card-title">History</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="/topic/History" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col-sm">
                      <div class="card">
                        <div id="cards" class="card-body">
                          <h5 class="card-title">Geography</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="/topic/Geography" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col-sm">
                      <div class="card">
                        <div id="cards" class="card-body">
                          <h5 class="card-title">Film</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="/topic/Film" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col-sm">
                      <div class="card">
                        <div id="cards" class="card-body">
                          <h5 class="card-title">Global</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="/topic/Global" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="rows" class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    <div id="tags" class="col-sm">
                      <div class="card" style="width: 18rem;">
                        <div id="cards" class="card-body">
                          <h5 class="card-title"><a href="/topic/Music" class="card-link">Music</a></h5>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col-sm">
                      <div class="card" style="width: 18rem;">
                        <div id="cards" class="card-ody">
                          <h5 class="card-title"><a href="/topic/Sports" class="card-link">Sports</a></h5>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col-sm">
                      <div class="card" style="width: 18rem;">
                        <div id="cards" class="card-body">
                          <h5 class="card-title"><a href="/topic/Science" class="card-link">Science</a></h5>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col-sm">
                      <div class="card" style="width: 18rem;">
                        <div id="cards" class="card-body">
                          <h5 class="card-title"><a href="/topic/Global" class="card-link">Global</a></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="rows" class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    <div id="tags" class="col">
                      <div class="card" style="width: 18rem;">
                        <div id="cards" class="card-body">
                          <h5 class="card-title"><a href="/topic/Politics" class="card-link">Politics</a></h5>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col">
                      <div class="card" style="width: 18rem;">
                        <div id="cards" class="card-body">
                          <h5 class="card-title"><a href="/topic/Ethics" class="card-link">Ethics</a></h5>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col">
                      <div class="card" style="width: 18rem;">
                        <div id="cards" class="card-body">
                          <h5 class="card-title"><a href="/topic/Global" class="card-link">Global</a></h5>
                        </div>
                      </div>
                    </div>
                    <div id="tags" class="col">
                      <div class="card" style="width: 18rem;">
                        <div id="cards" class="card-body">
                          <h5 class="card-title"><a href="/topic/Global" class="card-link">Global</a></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer">

					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
